# Sanal Ortam
venv/
env/
*.env

# Python cache
__pycache__/
*.pyc

# Django veritabanı (Canlıda PostgreSQL kullanacağız)
db.sqlite3
*.sqlite3

# Statik dosyalar (Render'da collectstatic ile toplanacak)
staticfiles/
media/

# IDE & Editor dosyaları
.idea/
.vscode/